<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Raaka-ainet</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Raaka-aineet</h1>

        <ol>
            <li th:each="aine: ${aineet}">
                <span th:text="${aine.nimi}"></span> <a th:href="${'/delete/raakaaine/' + aine.id}">(Poista)</a>
            </li>
        </ol>
        <h2>Lisää raaka-aine</h2>
        <form method="POST" action="/add/raakaaine">
          <p>Nimi</p>
          <input type="text" name="nimi"/><br/>
          <input type="submit" value="Lähetä"/>
        </form>
        <ul>
          <li><a href="/">Annoslistaukseen</a></li>
        </ul>
    </body>
</html>
